---
import '../styles/global.css';
// Component Imports
import Navigation from '@/components/Navigation.astro';
import HomeHero from '@/components/HomeHero.astro';
import SilentGreen from '@/components/SilentGreen.astro';
import SwapCardAgenda from '@/components/SwapCardAgenda-iFrame.astro';
// import SynBioWorldCafe from '@/components/SynBioWorldCafe.astro';
import Betonhalle from '@/components/Betonhalle.astro';
import FeaturesSection from '@/components/FeaturesSection.astro';
import QRCodeComponent from '@/components/QRCodeComponent.astro';
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/Assets/WP_SynBioReactor_Summit_2026_files/cropped-SBR2025-Favicon-1-60x60.png" />
		<meta name="generator" content={Astro.generator} />
		<title>SynBio Reactor Summit 2026</title>
		<meta name="description" content="Berlin's premier synthetic biology startup and investor summit" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet" />
	</head>

	<body class="min-h-screen bg-background">
		<Navigation />
		<main class="pt-16">
			<HomeHero />
			<div class="text-center space-y-4 mb-16">
				<h2 class="text-4xl md:text-5xl  text-balance uppercase">
				  Join us for <span class="font-bold text-primary">Two Days</span>
				</h2>
				<p class="text-xl text-muted-foreground max-w-2xl mx-auto text-balance">
				  jam-packed with <a href="/pitchPerfect" class="text-primary hover:underline transition-colors">Pitches</a>, Workshops, Fireside Chats, and so much more
				</p>
			  </div>
			  <FeaturesSection />
			  <QRCodeComponent />
			  <SwapCardAgenda />

				{/* Arrow shape divider at bottom */}
				<!-- 				
				<div class="absolute bottom-0 left-0 right-0 z-10" aria-hidden="true">
					<svg 
						xmlns="http://www.w3.org/2000/svg" 
						viewBox="0 0 700 10" 
						preserveAspectRatio="none"
						class="w-full h-10 rotate-180 fill-gray-50"
					>
						<path d="M350,10L340,0h20L350,10z" />
					</svg>
				</div> -->

		</main>
	</body>
</html>
