---
import Layout from '@/layouts/main.astro';
import { Trophy } from 'lucide-react';



// Component Imports
import Navigation from '@/components/Navigation.astro';
import QRCodeComponent from '@/components/QRCodeComponent.astro';
import BubbleButton from '@/components/ui/BubbleButton.astro';
import TicketVisual from '@/components/TicketVisual.astro';
import SBRFavicon from '@/assets/SBR2026-Favicon-1-60x60.png';

//Section Import
import HomeHero from '@/components/HomeHero.astro';
import FeatureSection from '@/components/FeatureSection.astro';
import SilentGreen from '@/components/SilentGreen.astro';
// import SynBioWorldCafe from '@/components/SynBioWorldCafe.astro';
import BetonhalleTeaser from '@/components/BetonhalleTeaser.astro';
import Recap from '@/components/Recap.astro';
import SwapCardSection from '@/components/SwapCardSection.astro';
import PitchTeaser from '@/components/PitchTeaser.astro';
import SBWCSection from '@/components/SBWCSection.astro';
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---


<Layout content={{ title: "SynBio Reactor Summit 2026" }}>

	<Navigation />
	<main class="pt-16">
		<HomeHero />
		<FeatureSection />


		<div class="w-full flex justify-center mt-32 hidden">
			<TicketVisual />
		</div>


		<div class="w-full flex justify-center mb-32 hidden">
			<QRCodeComponent />
		</div>


		<div class="w-full flex justify-center mb-32">
			<BetonhalleTeaser />
		</div>

		<div class="w-full flex justify-center mb-32">
			<SwapCardSection />
		</div>

		<div class="w-full flex justify-center mb-32">
			<PitchTeaser/>
		</div>

		<div class="w-full flex justify-center mb-32">
			<SBWCSection/>
		</div>

		<div class="w-full flex justify-center mb-32">
			<Recap/>
		</div>

		<!-- 
		<div class="w-full flex justify-center mb-32">
			<Recap />
		</div> -->


			{/* Arrow shape divider at bottom */}
			<!-- 				
			<div class="absolute bottom-0 left-0 right-0 z-10" aria-hidden="true">
				<svg 
					xmlns="http://www.w3.org/2000/svg" 
					viewBox="0 0 700 10" 
					preserveAspectRatio="none"
					class="w-full h-10 rotate-180 fill-gray-50"
				>
					<path d="M350,10L340,0h20L350,10z" />
				</svg>
			</div> -->
	</main>
</Layout>




