---
import '../styles/global.css';
// Component Imports
import Navigation from '../components/Navigation.astro';
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>SynBio Reactor Summit 2026</title>
		<meta name="description" content="Berlin's premier synthetic biology startup and investor summit" />
	</head>

	<body class="min-h-screen bg-background">
		<Navigation />
		<main class="pt-16">
			<div class="grid place-items-center h-screen content-center">
				<Button>Tailwind Button in Astro!</Button>
				<a href="/markdown-page" class="p-4 underline">Markdown is also supported...</a>
			</div>
		</main>
	</body>
</html>
