---
import Layout from "@/layouts/main.astro";
import React from 'react';
import Navigation from '@/components/Navigation.astro';
import PartnersAndSupportersSections from '@/components/partners-and-supporters-sections.tsx';
---


<Layout>	
	<Navigation />
	
	<main class="pt-16">
		<PartnersAndSupportersSections client:load />
	</main>
</Layout>

