---
import Layout from "@/layouts/main.astro";
// Component Imports
import Navigation from "@/components/Navigation.astro";
import ScheduleComponent from "@/components/ScheduleV1.tsx";
import { V0EventSchedule } from "@/components/V0event-schedule.tsx";
import SwapCardAgenda from "@/components/SwapCardAgenda-iFrame.astro";
import SwapCardLogoWhite from "@/assets/SwapCard/swapcard_LogoWhite.png";
import SBRFavicon from "@/assets/SBR2026-Favicon-1-60x60.png";
import { Image } from "astro:assets";
---


<Layout>
	<body class="min-h-screen bg-background">
		<Navigation />
		<main class="pt-16 flex flex-col justify-center bg-[#121212]">
			<!-- <ScheduleComponent client:load /> -->
			<div
				class="w-full flex flex-col items-center justify-center mb-32 px-14"
			>
			
			<!-- <a
			class=""
			href="https://app.swapcard.com/event/synbioreactor-summit-sbr2026"
			>
			<Image
			src={SwapCardLogoWhite}
			alt="SynBio Reactor Summit 2026"
			class=""
			/>
		</a> -->
		<div class="space-y-2 flex flex-col items-center justify-center pt-24 lg:pt-44 mb-12">
			<h2 class="w-fit text-3xl font-anton font-black md:text-6xl lg:text-7xl tracking-tight uppercase text-left">Synbio reactor <br/>
				<span class="text-8xl text-primary">SESSIONS</span>
				<p class="font-quicksand text-muted-foreground max-w-3xl font-light text-sm md:text-md text-left tracking-widest">
					Search and book your favorite sessions.
				</p>
			</h2>
		</div>
				<SwapCardAgenda class="hidden"/>
			</div>

			<!-- <div class="w-full flex flex-col justify-center mb-32">
				<V0EventSchedule />
			</div> -->
		</main>
	</body>
</Layout>
