---
import '../styles/global.css';
// Component Imports
import Navigation from '@/components/Navigation.astro';
import ScheduleComponent from '@/components/ScheduleV1.tsx';
import {V0EventSchedule} from '@/components/V0event-schedule.tsx';
import SwapCardAgenda from '@/components/SwapCardAgenda-iFrame.astro';
import SwapCardLogoWhite from "@/assets/SwapCard/swapcard_LogoWhite.png"
import SBRFavicon from '@/assets/SBR2026-Favicon-1-60x60.png';
import { Image } from 'astro:assets';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={SBRFavicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>SynBio Reactor Summit 2026</title>
		<meta name="description" content="Berlin's premier synthetic biology startup and investor summit" />
	</head>

	<body class="min-h-screen bg-background">
		<Navigation />
		<main class="pt-16 flex flex-col justify-center bg-[#121212]">
			<!-- <ScheduleComponent client:load /> -->
			<div class=" w-full flex flex-col items-center justify-center mb-32 px-14">
				<a class="" href="https://app.swapcard.com/event/synbioreactor-summit-sbr2026">
					<Image src={SwapCardLogoWhite} alt="SynBio Reactor Summit 2026" class="" />
				</a>
				<SwapCardAgenda class=""/>
			</div>

			<div class="hidden w-full flex flex-col justify-center mb-32">
				<V0EventSchedule />
			</div>

		</main>
	</body>
</html>