---
import Layout from '@/layouts/main.astro';
import Navigation from '@/components/Navigation.astro';

// Section Components
import SilentGreen from '@/components/SilentGreen.astro';
import Betonhalle from '@/components/Betonhalle.astro';
---

<Layout>
	<Navigation />
	<main class="pt-16">
			<section class="py-20 px-4 lg:px-8">
				<div class="container mx-auto max-w-4xl">
					<div class="text-center space-y-4 mb-12">
						<h1 class="text-4xl md:text-5xl font-bold text-balance">
							Venue
						</h1>
                        <SilentGreen />
                        <Betonhalle />  
					</div>
				</div>
			</section>
		</main>
</Layout>