---
// Betonhalle Section Component
import OrangeWaveBG from '@/assets/WP_SynBioReactor_Summit_2026_files/SBR_orange_wave_BG-no_logo.png';
import BetonhalleEmpty from '@/assets/WP_SynBioReactor_Summit_2026_files/Betonhalle_empty_1920px.webp';
import BubbleButton from './ui/BubbleButton.astro';
import { MapPin } from 'lucide-react';
---

<section class="relative pt-16 lg:pt-24 w-screen">
	<!-- <div class="absolute top-0 left-0 right-0 z-10" aria-hidden="true">
		<svg 
			xmlns="http://www.w3.org/2000/svg" 
			viewBox="0 0 700 10" 
			preserveAspectRatio="none"
			class="w-full h-10"
			style="fill: #E86D18;"
		>
			<path d="M350,10L340,0h20L350,10z" />
		</svg>
	</div> -->

	<div class="mt-[-60px] w-full relative flex flex-col pt-[300px] pb-32">
		<img src={OrangeWaveBG.src} alt="Orange Wave Background" class="w-full h-full object-cover object-top absolute inset-0 z-0" />
		<div class="w-full flex flex-col  items-center gap-y-5 gap-x-5  mx-auto">
			<div class="text-center w-full relative z-10 ">
				<div class="w-full">
					<h1 class="text-black font-anton font-black text-8xl uppercase tracking-tight">We Are Back</h1>
					<h2 class="text-[#313131] leading-[27.3px] font-normal text-[21px] clear-both  my-2">- at -</h2>
				</div>
				<img loading="lazy" src="https://www.synbioreactor.de/wp-content/uploads/2025/09/silent-green-logo-1024x601.png" class="w-[20%] max-w-full h-full relative mx-auto ">
			</div>
		</div>
		<div class="w-full flex flex-row items-center justify-center mb-10 -mt-4">
			<!-- <MapPin className="w-16 h-16 relative stroke-black translate-y-5" /> -->
			<BubbleButton text="CHECK THE VENUE" class="rounded-md mt-10 bg-transparent " textClass="text-7xl mx-1 font-anton font-black tracking-tight uppercase" icon="hidden"/>
		</div>
	</div>


			
			<div class="hidden">
				<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
					<div class="h-full ">
					<h2 class="text-white leading-[61.1px] [font-family:Tahoma,sans-serif,system-ui,sans-serif] font-extrabold text-[47px] tracking-[7.2px] clear-both caret-white my-0">WORKSHOPS &amp; FIRE SIDE CHATS</h2>
				</div>
				</div>
				<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
					<div class="h-full  mt-[-7px] mr-[-7px] mb-[-7px] ml-[-7px]">
					<h2 class="text-white leading-[27.3px] font-normal text-[21px] clear-both caret-white my-0">- partake in great interactive sessions in<span class="caret-white">5 ateliers -</span>
				</h2>
				</div>
				</div>
				<div class="w-full min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
					<div class="h-full  rounded-br-[20px] rounded-t-[20px] rounded-bl-[20px]">
					<div class="text-center flex  py-[15px]">
					<span class="w-[6%] flex  mx-auto border-t-[3.5px] border-t-white border-b-[#4a4a4a] border-x-[#4a4a4a]">
					</span>
				</div>
				</div>
				</div>
				<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
					<div class="h-full  mt-10">
					<img loading="lazy" width="1024" height="267" src="https://www.synbioreactor.de/wp-content/uploads/2025/09/Ateliers-blue-print-white-1024x267.png" class="align-middle w-[70%] max-w-full aspect-[auto_1024_/_267] inline-block ">
				</div>
				</div>
				<div class="w-[84%] min-w-0 relative grid [justify-content:start] [align-content:start] self-center gap-y-5 gap-x-[60px] grid-cols-[repeat(2,1fr)] grid-rows-[repeat(1,1fr)]  mb-10 p-2.5" data-component-id="Component_4_3_1_1">
					<div class="text-left min-w-0 max-w-full relative gap-y-5 gap-x-[60px] ">
					<div class="h-full ">
					<img loading="lazy" width="1024" height="570" src="https://www.synbioreactor.de/wp-content/uploads/2025/03/Background_SBR_3_SW-scaled-e1756694299338-1024x570.jpg" class="align-middle w-full max-w-full aspect-[auto_1024_/_570] inline-block  rounded-br-[16px] rounded-t-[16px] rounded-bl-[16px]">
				</div>
				</div>
				<div class="text-left min-w-0 max-w-full relative self-center gap-y-5 gap-x-[60px] ">
					<div class="h-full ">
					<h2 class="text-[rgba(255,255,255,0.73)] leading-[39px] [font-family:Tahoma,sans-serif,system-ui,sans-serif] font-extrabold text-[47px] tracking-[-1.1px] clear-both mix-blend-lighten caret-[rgba(255,255,255,0.73)] my-0">Get Your Questions Answered By Experts Of The Field</h2>
				</div>
				</div>
				</div>
				<div class="w-[84%] min-w-0 relative grid [justify-content:start] [align-content:start] self-center gap-y-5 gap-x-[60px] grid-cols-[repeat(2,1fr)] grid-rows-[repeat(1,1fr)]  mb-10 p-2.5" data-component-id="Component_4_3_1_2">
					<div class="text-right min-w-0 max-w-full relative self-center gap-y-5 gap-x-[60px] ">
					<div class="h-full ">
					<h2 class="text-[rgba(255,255,255,0.73)] leading-[39px] [font-family:Tahoma,sans-serif,system-ui,sans-serif] font-extrabold text-[47px] tracking-[-1.1px] clear-both mix-blend-lighten caret-[rgba(255,255,255,0.73)] my-0">Dive Into<br>The Journey Of Other Founders</h2>
				</div>
				</div>
				<div class="text-left min-w-0 max-w-full relative gap-y-5 gap-x-[60px] ">
					<div class="h-full ">
					<img loading="lazy" width="1024" height="572" src="https://www.synbioreactor.de/wp-content/uploads/2025/03/Background_SBR_2_SW-scaled-e1756694273957-1024x572.jpg" class="align-middle w-full max-w-full aspect-[auto_1024_/_572] inline-block  rounded-br-[16px] rounded-t-[16px] rounded-bl-[16px]">
				</div>
				</div>
				</div>
				<div class="w-[84%] min-w-0 relative grid [justify-content:start] [align-content:start] self-center gap-y-5 gap-x-[60px] grid-cols-[repeat(2,1fr)] grid-rows-[repeat(1,1fr)]  p-2.5" data-component-id="Component_4_3_1_3">
					<div class="text-left min-w-0 max-w-full relative gap-y-5 gap-x-[60px] ">
					<div class="h-full ">
					<img loading="lazy" width="1024" height="556" src="https://www.synbioreactor.de/wp-content/uploads/2025/03/Background_SBR_1_SW-scaled-e1756695208600-1024x556.jpg" class="align-middle w-full max-w-full aspect-[auto_1024_/_556] inline-block  rounded-br-[16px] rounded-t-[16px] rounded-bl-[16px]">
				</div>
				</div>
				<div class="text-left min-w-0 max-w-full relative self-center gap-y-5 gap-x-[60px] ">
					<div class="h-full ">
					<h2 class="text-[rgba(255,255,255,0.73)] leading-[39px] [font-family:Tahoma,sans-serif,system-ui,sans-serif] font-extrabold text-[47px] tracking-[-1.1px] clear-both mix-blend-lighten caret-[rgba(255,255,255,0.73)] my-0">Meet SynBio Enthusiasts From<br>All Over Europe</h2>
				</div>
				</div>
				</div>
				<div class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0 ">
					<div class="w-full h-full ">
					<div class="h-full ">
					<div class="h-[60px] ">
					</div>
				</div>
				</div>
				</div>
			</div>
	</div>
	<div class=" w-screen h-full bg-stone-50 relative hidden">
		<div class="w-full min-w-0 max-w-full relative flex flex-col bg-cover  mx-auto">
			<img src={BetonhalleEmpty.src} alt="Betonhalle" class="w-full h-full object-cover absolute inset-0" />
			<div class="w-full h-full flex flex-col grow gap-y-0 gap-x-0  mx-auto py-2.5">
			<div aria-hidden="true" class="leading-none w-full absolute overflow-x-hidden overflow-y-hidden rotate-180  left-0 right-auto top-auto -bottom-px">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 10" class="w-[calc(300%_+_1.3px)] h-[26px] relative z-[-1] block overflow-x-hidden overflow-y-hidden -translate-x-2/4 translate-y-0  left-2/4 right-auto inset-y-auto" data-svg-size="365">
			<path d="M350,10L340,0h20L350,10z" class="inline [transform:rotate3d(0,1,0,0deg)] fill-white ">
			</path>
		</svg>
		</div>
		<div class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0 ">
			<div class="w-full h-full ">
			<div class="h-full ">
			<div class="h-[293px] ">
			</div>
		</div>
		</div>
		</div>
		<div class="text-white text-[12px] tracking-[3.9px] min-w-0 max-w-full relative gap-y-0 gap-x-0 caret-white">
			<div class="mb-[-14px] h-full caret-white">
			<p class="caret-white my-0">For 2026 the synbio reactor is expanding</p>
		</div>
		</div>
		<div class="min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
			<div class="h-full ">
			<h2 class="text-[#2e2e2e] leading-[39px] text-[30px] clear-both caret-[#2e2e2e] my-0">Welcome to</h2>
		</div>
		</div>
		<div class="text-left min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
			<div class="mt-[-19px] h-full ">
			<h2 class="text-[#d8d8d8] leading-[61.1px] font-extrabold text-[47px] tracking-[7.2px] clear-both caret-[#d8d8d8] my-0">BETONHALLE</h2>
		</div>
		</div>
		</div>
		</div>
		<div class="w-full min-w-0 max-w-full relative flex flex-col  mx-auto px-2.5" data-component-id="Component_4_6">
			<div class="w-full h-full max-w-[min(100%,1140px)] flex flex-col grow gap-y-5 gap-x-5  mx-auto py-2.5">
				<div class="w-full min-w-0 relative flex flex-col gap-y-0 gap-x-0  p-2.5" data-component-id="Component_4_6_1">
					<div class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0 ">
						<div class="w-full h-full ">
							<div class="h-full ">
								<div class="h-20 ">
									</div>
								</div>
							</div>
						</div>
						<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
							<div class="h-full ">
								<h2 class="text-[#3d3d3d] leading-[61.1px] [font-family:Tahoma,sans-serif,system-ui,sans-serif] font-extrabold text-[47px] tracking-[7.2px] clear-both caret-[#3d3d3d] my-0">
									<b class="caret-[#3d3d3d]">KEYNOTES &amp; PANELS</b>
								</h2>
							</div>
							</div>
								<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
									<div class="h-full ">
									<h2 class="text-[#313131] leading-[27.3px] font-normal text-[21px] clear-both  my-0">- the synbio reactor is getting bigger<span class="">-</span>
								</h2>
								</div>
							</div>
								<div class="w-full min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
									<div class="h-full  rounded-br-[20px] rounded-t-[20px] rounded-bl-[20px]">
										<div class="text-center flex  py-[15px]">
										<span class="w-[6%] flex  mx-auto border-t-[3.5px] border-t-[#f3a02b] border-b-[#4a4a4a] border-x-[#4a4a4a]">
										</span>
									</div>
								</div>
								</div>
									<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
										<div class="mt-[-110px] mb-[-20px] h-full ">
										<img loading="lazy" width="1390" height="398" src="https://www.synbioreactor.de/wp-content/uploads/2025/09/silent-green-total-sideview-blueprint-orange.png" class="align-middle w-[1390px] max-w-full aspect-[auto_1390_/_398] inline-block ">
									</div>
								</div>
								<div class="text-center w-[691px] min-w-0 max-w-full relative self-center gap-y-0 gap-x-0 ">
										<div class="h-full ">
										<p class=" my-0">We are happy to announce that for the synbio reactor 2026 we will be expanding to silent green’s „Betonhalle“ to host the keynote sessions, as well as high class panel discussions.</p>
									</div>
									</div>
									<div class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0 ">
										<div class="w-full h-full ">
										<div class="h-full ">
										<div class="h-5 ">
										</div>
									</div>
									</div>
									</div>
									<div class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0 ">
										<div class="h-full ">
										<img loading="lazy" width="1632" height="640" src="https://www.synbioreactor.de/wp-content/uploads/2025/09/Betonhalle-Welcome-SBR2026-AI-Nano-Banana.jpeg" class="align-middle w-[1632px] max-w-full aspect-[auto_1632_/_640] inline-block  rounded-br-[16px] rounded-t-[16px] rounded-bl-[16px]">
									</div>
								</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	
	
	
	</div>
</div>










</section>
