---
import { BookOpen, LayoutGrid, Layers, Users, Spotlight, Theater } from "lucide-react";
import type { Props as FeaturesSectionProps } from "astro";

interface Props extends FeaturesSectionProps {
  class?: string;
}

const { class: classProp, className } = Astro.props;
const classes = classProp || className || "";
---
  
<section class={`relative py-16 bg-black ${classes} `}>
  <div class="container mx-auto max-w-7xl hidden border-2 border-blue-500">
    <div class="grid grid-cols-2 justify-center gap-y-8 gap-x-14 lg:justify-center lg:grid-cols-2 lg:gap-y-20 lg:gap-x-24 ">

        <!-- Session Formats -->
        <div class="text-center space-x-8 flex flex-col items-end lg:items-start justify-center">
            <div class="text-8xl font-anton font-extrabold text-primary relative mx-auto"><span class="absolute text-6xl -left-7 top-8">+</span>4
            </div>

            <div class="flex flex-row w-full gap-3 items-center justify-cent1r">
              <div class="flex justify-center items-center">
                  <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                    <Layers className="w-5 h-5 text-white" />
                  </span>
              </div>
              <div class="flex flex-col items-start justify-center gap-2">
                <div class="text-lg text-foreground font-quicksand font-medium">Session Formats</div>
                <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">SBWC, workshops, and more</div>
              </div>
            </div>
        </div>

      <!-- Overarching Topics -->
      <div class="text-center space-x-8 flex flex-col items-start lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary mt-32">5
        </div>
        <div class="flex flex-row w-full h-full gap-3 items-center justify-cent1r">
          <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                <LayoutGrid className="w-5 h-5 text-white" />
              </span>
          </div>
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-lg text-foreground font-quicksand font-medium">Overarching Topics</div>
            <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">plus wildcard sessions</div>
          </div>
        </div>
      </div>

      <!-- Rooms / Stages -->
      <div class="text-center space-x-8 flex flex-col items-end lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary -mt-32">6
        </div>
          <div class="flex flex-row w-full gap-3 items-center justify-cent1r">
            <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                <Spotlight className="w-5 h-5 text-white" />
              </span>
            </div>
            <div class="flex flex-col items-start justify-center gap-2">
              <div class="text-lg text-foreground font-quicksand font-medium">Rooms / Stages</div>
              <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">with parallel program</div>
            </div>
          </div>
      </div>
      
      <!-- Program Speakers -->
      <div class="text-center space-x-8 flex flex-col items-start lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary relative mt-44"><span class="absolute text-6xl -left-7 top-8">+</span>30
        </div>
        <div class="flex flex-row w-full gap-3 items-center justify-cent1r">
          <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                <Users className="w-5 h-5 text-white" />
              </span>
            </div>
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-lg text-foreground font-quicksand font-medium">Program Speakers</div>
            <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">panelists, and hosts</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mx-auto max-w-6xl">
    <div class="grid grid-cols-2 justify-center gap-y-8 gap-x-14 lg:justify-between lg:grid-cols-4 lg:gap-x-10">


      <!-- Rooms / Stages -->
      <div class="text-center space-y-2 flex flex-col items-end lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary">6
        </div>
          <div class="flex flex-row gap-1 ">
            <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-6 aspect-square rounded-sm bg-white/10">
                <Spotlight className="w-3 h-3 text-white" />
              </span>
            </div>
            <div class="flex flex-col w-full h-full items-start justify-center gap-2">
              <div class="text-lg text-foreground font-quicksand font-medium">Stages</div>
            </div>
          </div>
          <div class="-mt-2 text-[0.6rem] font-quicksand text-muted-foreground uppercase">with parallel program</div>
      </div>

        <!-- Session Formats -->
        <div class="text-center space-y-2 flex flex-col items-end lg:items-center justify-center">
          <div class="text-8xl font-anton font-extrabold text-primary relative"><span class="absolute text-6xl -left-7 top-4">+</span>4
          </div>
          <div class="flex flex-row gap-1 ">
            <div class="flex justify-center items-center">
                <span class="inline-flex items-center justify-center w-6 aspect-square rounded-sm bg-white/10">
                  <Layers className="w-3 h-3 text-white" />
                </span>
            </div>
            <div class="flex flex-col w-full h-full items-start justify-center gap-2">
              <div class="text-lg text-foreground font-quicksand font-medium">Session Types</div>
            </div>
          </div>
          <div class="-mt-2 text-[0.6rem] font-quicksand text-muted-foreground uppercase">SBWC, workshops, and more</div>
        </div>

      <!-- Overarching Topics -->
      <div class="text-center space-y-2 flex flex-col items-start lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary">5
        </div>
        <div class="flex flex-row gap-1 ">
          <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-6 aspect-square rounded-sm bg-white/10">
                <LayoutGrid className="w-3 h-3 text-white" />
              </span>
          </div>
          <div class="flex flex-col w-full h-full items-start justify-center gap-2">
            <div class="text-lg text-foreground font-quicksand font-medium">Big Topics</div>
          </div>
        </div>
        <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase"><span class="text-[0.8rem]">+</span> wildcard sessions</div>
      </div>

      
      <!-- Program Speakers -->
      <div class="text-center space-y-2 flex flex-col items-start lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary relative"><span class="absolute text-6xl -left-7 top-4">+</span>30
        </div>
        <div class="flex flex-row gap-1 ">
          <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-6 aspect-square rounded-sm bg-white/10">
                <Users className="w-3 h-3 text-white" />
              </span>
            </div>
          <div class="flex flex-col w-full h-full items-start justify-center gap-2">
            <div class="text-lg text-foreground font-quicksand font-medium">Speakers</div>
          </div>
        </div>
        <div class="-mt-2 text-[0.6rem] font-quicksand text-muted-foreground uppercase">panelists, and hosts</div>
      </div>
    </div>
  </div>
</section>

