---
import RecapVideo from "@/assets/RecapVideoSBR2025.mp4";
---

<section class="relative py-16 lg:py-24 w-screen">
    <div
        class="w-full min-w-0 max-w-full relative flex flex-col [background-position-x:50%] [background-position-y:50%] bg-cover mx-auto"
        data-component-id="Component_4_8"
    >
        <div
            class="w-full h-full max-w-[min(100%,1140px)] flex flex-col grow gap-y-0 gap-x-0 mx-auto"
        >
            <video
                src={RecapVideo}
                preload="auto"
                autoplay
                loop
                muted
                playsinline
                class="w-screen h-full object-cover absolute inset-0 mx-auto"
            ></video>
            <div
                aria-hidden="true"
                class="leading-none w-full absolute overflow-x-hidden overflow-y-hidden rotate-180 left-0 right-auto -top-px bottom-auto"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 700 10"
                    class="h-[29px] relative z-[-1] block overflow-x-hidden overflow-y-hidden -translate-x-2/4 translate-y-0 left-2/4 right-auto inset-y-auto"
                    data-svg-size="383"
                >
                    <path
                        d="M360 0L350 9.9 340 0 0 0 0 10 700 10 700 0"
                        class="inline fill-backgroud"
                    >
                    </path>
                </svg>
            </div>
            <div
                class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0"
            >
                <div class="h-full mt-[60px]">
                    <h2
                        class="text-white leading-[61.1px] font-extrabold text-[47px] tracking-[7.2px] clear-both caret-white my-0"
                    >
                        RECAP
                    </h2>
                </div>
            </div>
            <div
                class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0"
            >
                <div class="h-full mt-[-7px] mr-[-7px] mb-[-7px] ml-[-7px]">
                    <h2
                        class="text-white leading-[27.3px] font-normal text-[21px] clear-both caret-white my-0"
                    >
                        - looking back at synbio reactor 2025<span
                            class="caret-white">-</span
                        >
                    </h2>
                </div>
            </div>
            <div class="w-full min-w-0 max-w-full relative gap-y-0 gap-x-0">
                <div
                    class="h-full rounded-br-[20px] rounded-t-[20px] rounded-bl-[20px]"
                >
                    <div class="text-center flex py-[15px]">
                        <span
                            class="w-[6%] flex mx-auto border-t-[3.5px] border-t-white rounded-full"
                        >
                        </span>
                    </div>
                </div>
            </div>
            <div
                class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0"
            >
                <div class="w-full h-full">
                    <div class="h-full">
                        <div class="h-[556.7px]"></div>
                    </div>
                </div>
            </div>
            <div
                class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0"
            >
                <div
                    class="flex flex-col md:flex-row gap-16 mx-auto w-full max-w-[1080px] md:items-end"
                >
                    <aside
                        class="order-2 md:order-1 text-[14px] w-full max-w-[275px] lg:max-w-[325px] xl:max-w-[400px] shrink-0 flex flex-col"
                    >
                    </aside>
                    <div
                        class="order-1 md:order-2 markup text-lg w-full max-w-[640px] lg:shrink-0 ml-auto"
                    >
                    </div>
                </div>
                <div
                    class="grid sm:grid-cols-3 sm:divide-x divide-y  sm:divide-y-0 divide-white/30 max-w-[1320px] mt-4 mx-auto"
                >
                    <div class="p-[60px] sm:p-[40px] md:p-[60px] text-center">
                        <h2
                            class="text-[60px] md:text-[120px] font-anton uppercase text-oss-gray leading-none mb-2"
                        >
                            +200
                        </h2>
                        <p
                            class="text-oss-gray-dark uppercase font-quicksand font-light tracking-wide text-[14px] leading-none"
                        >
                            Participants
                        </p>
                    </div>
                    <div class="p-[60px] sm:p-[40px] md:p-[60px] text-center">
                        <h2
                            class="text-[60px] md:text-[120px] font-anton uppercase text-oss-gray leading-none mb-2"
                        >
                            3
                        </h2>
                        <p
                            class="text-oss-gray-dark uppercase font-quicksand font-light tracking-wide text-[14px] leading-none"
                        >
                            Stages
                        </p>
                    </div>
                    <div class="p-[60px] sm:p-[40px] md:p-[60px] text-center">
                        <h2
                            class="text-[60px] md:text-[120px] font-anton uppercase text-oss-gray leading-none mb-2"
                        >
                            +25
                        </h2>
                        <p
                            class="text-oss-gray-dark uppercase font-quicksand font-light tracking-wide text-[14px] leading-none"
                        >
                            Sessions
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0"
            >
                <div class="w-full h-full">
                    <div class="h-full">
                        <div class="h-[14.65px]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
