---
import RecapVideo from "@/assets/RecapVideoSBR2025.mp4";
// import LogoMarquee from "@/components/ui/logo-marquee.astro";
import {LogoMarquee} from "@/components/LogoMarquee.tsx";
import MultiRowMarquee from "./MultiRowMarquee.astro";
---

<section class="relative pb-16 lg:pb-24 w-screen">
    <div  class="w-full min-w-0 max-w-full relative h-screen flex flex-col [background-position-x:50%] [background-position-y:50%] bg-cover mx-auto"
        data-component-id="Component_4_8">

        
        <div  class="w-full h-full  flex flex-col gap-y-0 gap-x-0 justify-between">
            <!-- Video -->
            <video
                src={RecapVideo}
                preload="auto"
                autoplay
                loop
                muted
                playsinline  class="w-screen h-full object-cover absolute inset-0 mx-auto"></video>
            <!-- Transition element top -->
                <div
                aria-hidden="true"  class="leading-none w-full absolute overflow-x-hidden overflow-y-hidden rotate-180 left-0 right-auto -top-px bottom-auto">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 700 10"  class="h-[29px] w-full relative z-[-1] block"
                    preserveAspectRatio="none">
                    <path
                        d="M360 0L350 9.9 340 0 0 0 0 10 700 10 700 0"  class="fill-primary">
                    </path>
                </svg>
            </div>
            <!-- Year -->
            <div  class="text-center min-w-0 max-w-full relative gap-y-0 gap-x-0">
                <div class="h-full w-fit mx-auto mt-[60px] flex flex-col items-start justify-center">
                    <h2  class="text-primary text-7xl font-anton font-black uppercase tracking-tight clear-both caret-white my-0 text-left">2025
                    </h2>
                </div>
            </div>
          
            <!-- Stats -->
            <div  class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0">
                <div  class="w-full min-w-0 max-w-full relative shrink-0 gap-y-0 gap-x-0">
                    <div  class="flex flex-col md:flex-row gap-16 mx-auto w-full max-w-[1080px] md:items-end">
                        <aside  class="order-2 md:order-1 text-[14px] w-full max-w-[275px] lg:max-w-[325px] xl:max-w-[400px] shrink-0 flex flex-col">
                        </aside>
                        <div  class="order-1 md:order-2 markup text-lg w-full max-w-[640px] lg:shrink-0 ml-auto">
                        </div>
                    </div>
                    <div  class="grid sm:grid-cols-3 sm:divide-x divide-y  sm:divide-y-0 divide-white/30 max-w-[1320px] mt-4 mx-auto">
                        <div class=" 2xl:p-[60px] lg:p-[40px] md:p-[20px] text-center">
                            <h2  class="text-6xl  lg:text-8xl 2xl:text-[120px] md:text-7xl font-anton uppercase text-oss-gray leading-none lg:mb-0">
                                +200
                            </h2>
                            <p  class="text-muted-foreground uppercase font-quicksand font-light tracking-wide text-[14px] lg:text-xl xl:ml-8 leading-none text-center">
                                Participants
                            </p>
                        </div>
                        <div class="2xl:p-[60px] lg:p-[40px] md:p-[20px] text-center">
                            <h2  class="text-6xl lg:text-8xl 2xl:text-[120px]  md:text-7xl font-anton uppercase text-oss-gray leading-none lg:mb-0">
                                3
                            </h2>
                            <p  class="text-muted-foreground uppercase font-quicksand font-light tracking-wide text-[14px] lg:text-xl leading-none text-center">
                                Stages
                            </p>
                        </div>
                        <div class="2xl:p-[60px] lg:p-[40px] md:p-[20px] text-center">
                            <h2  class="text-6xl lg:text-8xl 2xl:text-[120px]  md:text-7xl font-anton uppercase text-oss-gray leading-none lg:mb-0">
                                +25
                            </h2>
                            <p  class="text-muted-foreground uppercase font-quicksand font-light tracking-wide text-[14px] lg:text-xl xl:ml-8 leading-none text-center">
                                Sessions
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <LogoMarquee/> -->
 <div class="w-full flex items-center justify-center">
     <MultiRowMarquee class="w-full max-w-xl md:max-w-3xl lg:max-w-5xl 2xl:max-w-[1600px] h-96"/>
 </div>

</section>
