---
import type { Props as NAMESectionProps } from 'astro';
import {GradientBars} from '@/components/ui/gradient-bars.tsx';
interface Props extends NAMESectionProps {
  class?: string;
}
const { class: classProp, className } = Astro.props;
const classes = classProp || className || "";
---
<section class={`relative py-16 bg-black ${classes}`}>
  
    <div class="container mx-auto max-w-7xl flex items-center justify-center">
        <h2 class="text-4xl font-bold text-white">SBWC</h2>
    </div>
</section>