---
import { BookOpen, LayoutGrid, Layers, Users, Spotlight, Theater } from "lucide-react";
import type { Props as FeaturesSectionProps } from "astro";

interface Props extends FeaturesSectionProps {
  class?: string;
}

const { class: classProp, className } = Astro.props;
const classes = classProp || className || "";
---
  
<section class={`relative py-16 ${classes} `}>
  <div class="container mx-auto max-w-6xl ">
    <div class="flex flex-row-6 justify-center gap-y-8 gap-x-14 lg:justify-between lg:grid-cols-4 lg:gap-x-10">


      <!-- Rooms / Stages  border-2 border-muted-foreground-->0      <div class="text-center flex flex-row items-center justify-center  gap-x-4">
        <!-- title number -->
        <div class="md:text-[10rem] font-anton font-extrabold text-primary">6
        </div>
        
        <div class="flex flex-col gap-0 ">  
          <!-- first row -->
          <div class="flex flex-col w-full h-full items-start justify-start gap-2">
            <p class="text-xl text-foreground font-quicksand font-medium">Stages</p>
            <p class="-mt-2 text-[0.6rem] text-left font-quicksand text-muted-foreground uppercase">with parallel<br> program</p>
          </div>
          <div class="flex justify-start items-center mt-2">
            <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
              <Spotlight className="w-7 h-7 text-muted-foreground" />
            </span>
          </div>
            <!-- second row -->
        </div>
      </div>
      <div class="border border-muted-foreground w-0 h-[80px] my-auto mx-5 rounded-2xl"/>


      <!-- Session Formats -->
      <div class="text-center flex flex-row items-center justify-center  gap-x-4">
        <!-- title number -->
        <div class="md:text-[10rem] font-anton font-extrabold text-primary relative"><span class="absolute text-6xl -left-7 top-1/2">+</span>4
        </div>
        
        <div class="flex flex-col gap-0">  
          <!-- first row -->
          <div class="flex flex-col w-full h-full items-start justify-start gap-2">
            <p class="text-xl text-foreground font-quicksand font-medium">Session Types</p>
            <p class="-mt-2 text-[0.6rem] text-left font-quicksand text-muted-foreground uppercase">SBWC, workshops,<br> and more</p>
          </div>
          <div class="flex justify-start items-center mt-2">
            <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
              <Layers className="w-7 h-7 text-muted-foreground" />
            </span>
          </div>
            <!-- second row -->
        </div>
      </div>
      <div class="border border-muted-foreground w-0 h-[80px] my-auto mx-5 rounded-2xl"/>

      <!-- Overarching Topics -->
      <div class="text-center flex flex-row items-center justify-center  gap-x-4">
        <!-- title number -->
        <div class="md:text-[10rem] font-anton font-extrabold text-primary">5
        </div>
        
        <div class="flex flex-col gap-0">  
          <!-- first row -->
          <div class="flex flex-col w-full h-full items-start justify-start gap-2">
            <p class="text-xl text-foreground font-quicksand font-medium">Big Topics</p>
            <p class="-mt-2 text-[0.6rem] text-left font-quicksand text-muted-foreground uppercase"><span class="text-[0.8rem]">+</span> wildcard<br> sessions</p>
          </div>
          <div class="flex justify-start items-center mt-2">
            <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
              <LayoutGrid className="w-7 h-7 text-muted-foreground" />
            </span>
          </div>
            <!-- second row -->
        </div>
      </div>
      <div class="border border-muted-foreground w-0 h-[80px] my-auto mx-5 rounded-2xl"/>

      
      <!-- Program Speakers -->
      <div class="text-center flex flex-row items-center justify-center  gap-x-4 ">
        <!-- title number -->
        <div class="md:text-[10rem] font-anton font-extrabold text-primary relative"><span class="absolute text-6xl -left-7 top-1/2">+</span>30
        </div>
        
        <div class="flex flex-col gap-0 ">  
          <!-- first row -->
          <div class="flex flex-col w-full h-full items-start justify-start gap-2">
            <p class="text-xl text-foreground font-quicksand font-medium">Speakers</p>
            <p class="-mt-2 text-[0.6rem] text-left font-quicksand text-muted-foreground uppercase">panelists, and<br> hosts</p>
          </div>
          <div class="flex justify-start items-center mt-2 ">
            <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
              <Users className="w-7 h-7 text-muted-foreground" />
            </span>
          </div>
            <!-- second row -->
        </div>
      </div>


    </div>
  </div>

  <div class="container mx-auto max-w-7xl hidden border-2 border-blue-500">
    <div class="grid grid-cols-2 justify-center gap-y-8 gap-x-14 lg:justify-center lg:grid-cols-2 lg:gap-y-20 lg:gap-x-24 ">

        <!-- Session Formats -->
        <div class="text-center space-x-8 flex flex-col items-end lg:items-start justify-center">
            <div class="text-8xl font-anton font-extrabold text-primary relative mx-auto"><span class="absolute text-6xl -left-7 top-8">+</span>4
            </div>

            <div class="flex flex-row w-full gap-3 items-center justify-cent1r">
              <div class="flex justify-center items-center">
                  <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                    <Layers className="w-5 h-5 text-white" />
                  </span>
              </div>
              <div class="flex flex-col items-start justify-center gap-2">
                <div class="text-lg text-foreground font-quicksand font-medium">Session Formats</div>
                <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">SBWC, workshops, and more</div>
              </div>
            </div>
        </div>

      <!-- Overarching Topics -->
      <div class="text-center space-x-8 flex flex-col items-start lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary mt-32">5
        </div>
        <div class="flex flex-row w-full h-full gap-3 items-center justify-cent1r">
          <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                <LayoutGrid className="w-5 h-5 text-white" />
              </span>
          </div>
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-lg text-foreground font-quicksand font-medium">Overarching Topics</div>
            <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">plus wildcard sessions</div>
          </div>
        </div>
      </div>

      <!-- Rooms / Stages -->
      <div class="text-center space-x-8 flex flex-col items-end lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary -mt-32">6
        </div>
          <div class="flex flex-row w-full gap-3 items-center justify-cent1r">
            <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                <Spotlight className="w-5 h-5 text-white" />
              </span>
            </div>
            <div class="flex flex-col items-start justify-center gap-2">
              <div class="text-lg text-foreground font-quicksand font-medium">Rooms / Stages</div>
              <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">with parallel program</div>
            </div>
          </div>
      </div>
      
      <!-- Program Speakers -->
      <div class="text-center space-x-8 flex flex-col items-start lg:items-center justify-center">
        <div class="text-8xl font-anton font-extrabold text-primary relative mt-44"><span class="absolute text-6xl -left-7 top-8">+</span>30
        </div>
        <div class="flex flex-row w-full gap-3 items-center justify-cent1r">
          <div class="flex justify-center items-center">
              <span class="inline-flex items-center justify-center w-10 aspect-square rounded-sm bg-white/10">
                <Users className="w-5 h-5 text-white" />
              </span>
            </div>
          <div class="flex flex-col items-start justify-center gap-2">
            <div class="text-lg text-foreground font-quicksand font-medium">Program Speakers</div>
            <div class="-mt-3 text-[0.6rem] font-quicksand text-muted-foreground uppercase">panelists, and hosts</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

