---
---
<section class="relative w-full h-screen">

    <script is:inline>
        (function() {
    var script = document.createElement("script");
    script.src = "https://app.swapcard.com/widget.js";
    script.onload = function() {_scWidget.init();};
    document.body.appendChild(script);
    })();
    </script>


<iframe id="sc-widget" class="w-full h-full" src="https://app.swapcard.com/widget/event/synbioreactor-summit-sbr2026/plannings/RXZlbnRWaWV3XzEyNDIwNTM=?paginationMode=infinite&source=script&showActions=true" style="border: none; margin: 0px; width: 100%; display: block; height: 100%;"></iframe>
</section>