---
import '../styles/global.css';
const { content } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/Assets/WP_SynBioReactor_Summit_2026_files/cropped-SBR2025-Favicon-1-60x60.png" />
		<title>{content.title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
