---
import '../styles/global.css';
import SBRFavicon from '@/assets/SBR2026-Favicon.png';
import ScreenSizeDEVTOOL from '@/components/ui/ScreenSizeDEVTOOL.astro';
import Footer from '@/components/Footer.astro';

//Page Title and Description
interface MainProps {
	content?: {
		title?: string;
		description?: string;
	};
}

const { content = {} }: MainProps = Astro.props;
const title = content.title || "SynBio Reactor Summit 2026";
---

<html lang="en">
	<head>
		{import.meta.env.PROD && (
				{/* <!-- Google tag (gtag.js) --> */}
				<script async src="https://www.googletagmanager.com/gtag/js?id=G-QFBMRL8F28" is:inline></script>
				<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-QFBMRL8F28');
				</script>
		)}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href={SBRFavicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>SynBio Reactor Summit 2026</title>
		<meta name="description" content="Berlin's premier synthetic biology startup and investor summit" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Anton+SC&family=Boldonse&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		{import.meta.env.PROD && (
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNZ625T5"
				height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		)}
		{import.meta.env.DEV && <ScreenSizeDEVTOOL />}
		<slot />
		<Footer />
	</body>
</html>
